<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Diet Fit</title>
</head>

<body id="body_site">

    <header id="header">
        <div class="container">
            <div class="content">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo"><a href=""><img src="assets/images/Logo.png" alt=""></a></div>
                    <div class="menu_site">
                        <div id="btn_menu"><i class="fa-solid fa-bars"></i></div>
                        <ul id="primary-menu">
                            <li><a href="" id="close_menu">إغلاق</a></li>
                            <li><a href="">مقالات</a></li>
                            <li><a href="">فيديوهات</a></li>
                            <li><a href="">المطعم</a></li>
                            <li><a href="">المتجر</a></li>
                            <li><a href="">الاشتراكات</a></li>
                            <li><a href="">الاستشارات</a></li>
                        </ul>
                    </div>
                    <div class="links">
                        <ul class="d-flex list-unstyled align-items-center mb-0">
                            <li><a href="" class="user"><img src="assets/images/user.jpg" alt=""> <span
                                        class="d-none d-md-inline-block">محمود
                                        الدوسري</span></a></li>
                            <li><a href="" class="lang">English</a></li>
                            <li><a href="" id="toggle"><i class="fa-solid fa-bars"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="consulting-details">
        <div class="container">
            <div class="c-head">
                <div class="d-md-flex justify-content-md-between">
                    <div class="thumb">
                        <div class="d-flex align-items-center">
                            <figure><img src="assets/images/user.jpg" alt=""></figure>
                            <div class="user-d">
                                <h2>محمود الدوسري</h2>
                                <small>صاحب الطلب</small>
                            </div>
                        </div>
                    </div>
                    <div class="c-caption">
                        <div class="date"><span class="mb-4 date"><i class="fa-solid fa-clock"></i> 17/12/2021</span>
                        </div>
                        <p><strong>موعد الاستشارة:</strong> يوم الاثنين 21/12/2021</p>
                        <p><strong>الوقت الخاص بالاستشارة:</strong> من الساعة 1 م إلى الساعة 4 م</p>
                    </div>
                </div>
            </div>
            <div class="c-body">
                <div class="head">
                    <h2>عنوان الاستشارة</h2>
                </div>
                <div class="caption">
                    <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                        الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن
                        المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في
                        الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                        التركيز على الشكل الخارجي هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي
                        القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها هناك حقيقة
                        مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي
                        للنص أو شكل توضع الفقرات في الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                        المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي </p>
                    <h4>البيانات الاضافية</h4>
                    <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                        الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن
                        المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في
                        الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل</p>
                    <div class="information">
                        <div class="mb-3 me-3">
                            <span><i class="fa-solid fa-phone-flip"></i></span> <span>966123456789</span>
                        </div>
                        <div class="mb-3">
                            <span><i class="fa-solid fa-envelope"></i></span> <span>info@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="head">
                    <h2>التشخيص النصي</h2>
                </div>
                <form action="" class="clearfix mb-4">
                    <div class="mb-3">
                        <textarea class="form-control" name="" id="" cols="30" rows="8"
                            placeholder="وصف نصي"></textarea>
                    </div>
                    <div class="float-end">
                        <input class="btn btn-success" type="button" value="إرسال">
                    </div>
                </form>
                <hr>
                <div class="messages">
                    <div class="item">
                        <div>
                            <div class="d-md-flex">
                                <figure class="m-0 thumb"><img src="assets/images/user.jpg" alt=""></figure>
                                <div>
                                    <h2>محمد القحطاني</h2>
                                    <small>صاحب الطلب</small>
                                    <div class="content">
                                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                                            التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها
                                            هناك
                                            حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                                        <a class="btn btn-success" href="">رد</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-md-flex">
                                <figure class="m-0 thumb"><img src="assets/images/user.jpg" alt=""></figure>
                                <div>
                                    <h2>محمد القحطاني</h2>
                                    <small>المستخدم</small>
                                    <div class="content">
                                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                                            التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها
                                            هناك
                                            حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-footer clearfix">
                <hr>
                <div class="d-md-flex justify-content-md-between links">
                    <div>
                        <a class="btn btn-outline-success" href=""><i class="fa-solid fa-plus"></i> اضافة نظام غذائي</a>
                        <a class="btn btn-outline-success" href="" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i> اضافة موعد جديد
                            للمتابعة</a>
                    </div>
                    <div>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>حالة المتابعة</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="float-md-end">
                    <input class="btn btn-success" type="button" value="تأكيد بدأ الجلسة">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h4 class="mb-4"><strong>اضف موعد جديد للمتابعة</strong></h4>
                        <form action="">
                            <div class="mb-3">
                                <input type="date" name="" id="" class="form-control" placeholder="التاريخ">
                            </div>
                            <div class="mb-3">
                                <input type="datetime-local" name="" id="" class="form-control" placeholder="الوقت">
                            </div>
                            <div class="mb-3">
                                <p class="m-0 text-start"><strong>السعر الخاص بالمتابعة: <span
                                            style="color: #f47920">1700,00
                                            ريال</span></strong></p>
                            </div>
                            <input type="button" class="btn btn-warning" value="اضافة">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer about">
                        <div class="logo">
                            <img src="assets/images/Logo.png" alt="">
                        </div>
                        <ul class="social d-flex list-unstyled">
                            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-paper-plane"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>لا نقدم حيلًا سحرية لإنقاص الوزن
                            في ليلة واحدة</h2>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                            الشكل الخارجي للنص </p>
                        <ul class="links list-unstyled d-flex">
                            <li><a class="btn btn-outline-light" href="">لايف شات</a></li>
                            <li><a class="btn btn-success" href="">انضم الآن</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>روابط سريعة</h2>
                        <ul class="list-unstyled">
                            <li><a href="">المتجر</a></li>
                            <li><a href="">المطعم</a></li>
                            <li><a href="">الاستشارات</a></li>
                            <li><a href="">المقالات</a></li>
                            <li><a href="">الاشتراكات</a></li>
                            <li><a href="">نظام العمولة</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>اتصل بنا</h2>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-location-dot"></i> المملكة العربية السعودية - الرياض
                                شارع الرياض</li>
                            <li><i class="fa-solid fa-phone-flip"></i> 9660123456789</li>
                            <li><i class="fa-brands fa-whatsapp"></i> 9660123456789</li>
                            <li><i class="fa-solid fa-envelope"></i> info@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copy_right">
                <div class="d-md-flex align-items-md-center justify-content-md-between">
                    <p class="mb-0">جميع الحقوق محفوظة &copy; 2021</p>
                    <a href=""><img src="assets/images/topline.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>