<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Diet Fit</title>
</head>

<body id="body_site">

    <header id="header">
        <div class="container">
            <div class="content">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo"><a href=""><img src="assets/images/Logo.png" alt=""></a></div>
                    <div class="menu_site">
                        <div id="btn_menu"><i class="fa-solid fa-bars"></i></div>
                        <ul id="primary-menu">
                            <li><a href="" id="close_menu">إغلاق</a></li>
                            <li><a href="">مقالات</a></li>
                            <li><a href="">فيديوهات</a></li>
                            <li><a href="">المطعم</a></li>
                            <li><a href="">المتجر</a></li>
                            <li><a href="">الاشتراكات</a></li>
                            <li><a href="">الاستشارات</a></li>
                        </ul>
                    </div>
                    <div class="links">
                        <ul class="d-flex list-unstyled align-items-center mb-0">
                            <li><a href="" class="user"><img src="assets/images/user.jpg" alt=""> <span
                                        class="d-none d-md-inline-block">محمود
                                        الدوسري</span></a></li>
                            <li><a href="" class="lang">English</a></li>
                            <li><a href="" id="toggle"><i class="fa-solid fa-bars"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="#">الاستشاريين</a></li>
                <li class="breadcrumb-item active" aria-current="page">تفاصيل الاستشارة </li>
            </ol>
        </nav>
    </div>

    <div class="consulting-details">
        <div class="container">
            <div class="c-head">
                <div class="d-md-flex justify-content-md-between">
                    <div class="thumb">
                        <div class="d-flex align-items-center">
                            <figure><img src="assets/images/user.jpg" alt=""></figure>
                            <div class="user-d">
                                <h2>محمود الدوسري</h2>
                                <small>اسشتاري سمنة ونحافة</small>
                                <div class="stars mb-2">
                                    <i class="fa-solid fa-star on"></i>
                                    <i class="fa-solid fa-star on"></i>
                                    <i class="fa-solid fa-star on"></i>
                                    <i class="fa-solid fa-star on"></i>
                                    <i class="fa-solid fa-star off"></i>
                                    <small>(تقييم 4.7)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-caption">
                        <p class="mb-1"><strong>حالة الاستشارة:</strong> يوم الاثنين 21/12/2021</p>
                        <p class="mb-1"><strong>اليوم:</strong> يوم الاثنين 21/12/2021</p>
                        <p class="mb-1"><strong>الوقت:</strong> الساعة 4 م</p>
                    </div>
                </div>
            </div>
            <div class="c-body">
                <div class="head">
                    <h2>تقييم الاستشارة </h2>
                </div>
                <form action="" class="mb-4">
                    <div class="star-container">
                        <input type="radio" name="star-check" id="five-star" class="star-check" title="5">
                        <label for="five-star"></label>
                        <input type="radio" name="star-check" id="four-star" class="star-check" title="4">
                        <label for="four-star"></label>
                        <input type="radio" name="star-check" id="three-star" class="star-check" title="3">
                        <label for="three-star"></label>
                        <input type="radio" name="star-check" id="two-star" class="star-check" title="2">
                        <label for="two-star"></label>
                        <input type="radio" name="star-check" id="one-star" class="star-check" title="1">
                        <label for="one-star"></label>
                    </div>
                    <input class="btn btn-success" type="button" value="تقييم">
                </form>
                <div class="head mt-4">
                    <h2>التشخيص النصي</h2>
                </div>
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                    المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي
                    يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء</p>
            </div>



            <div class="my-participation">
                <div class="head">
                    <h2>النظام الغذائي المحدد من الاستشاري</h2>
                    <div class="mt-4 d-md-flex justify-content-between">
                        <div>
                            <p class="m-0">انضم الينا واستمتع بالنتائج المزهلة انضم الينا واستمتع بالنتائج المزهلة
                                انضم
                                الينا
                                واستمتع بالنتائج </p>
                        </div>
                        <div>
                            <span>السعرات المستهدفة</span>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">1000</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">1500</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                    value="option3">
                                <label class="form-check-label" for="inlineRadio3">2000</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                    value="option3">
                                <label class="form-check-label" for="inlineRadio4">2500</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                    value="option3">
                                <label class="form-check-label" for="inlineRadio5">+3000</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="entry-content d-table2">
                    <div class="dd-head">
                        <div class="d-flex align-items-center">
                            <div><strong>الاسبوع الأول</strong></div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <span>السبت <br> 27 أكتوبر</span>
                                    <span>الأحد <br> 27 أكتوبر</span>
                                    <span>الاثنين <br> 27 أكتوبر</span>
                                    <span>الثلاثاء <br> 27 أكتوبر</span>
                                    <span>الاربعاء <br> 27 أكتوبر</span>
                                    <span>الخميس <br> 27 أكتوبر</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dd-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <h2>وجبة الافطار</h2>
                                <p class="mb-1">- فيلية سمك مشوي بالاعشاب وخبز</p>
                                <p class="mb-1">- سندويتش حبش مدخن مع الخضار</p>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div>
                                <h2>وجبة الغداء</h2>
                                <p class="mb-1">- فيلية سمك مشوي بالاعشاب وخبز</p>
                                <p class="mb-1">- سندويتش حبش مدخن مع الخضار</p>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div>
                                <h2>وجبة العشاء</h2>
                                <p class="mb-1">- فيلية سمك مشوي بالاعشاب وخبز</p>
                                <p class="mb-1">- سندويتش حبش مدخن مع الخضار</p>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div>
                                <h2>العصائر</h2>
                                <p class="mb-1">- فيلية سمك مشوي بالاعشاب وخبز</p>
                                <p class="mb-1">- سندويتش حبش مدخن مع الخضار</p>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div>
                                <h2>الصلطات/سناكس</h2>
                                <p class="mb-1">- فيلية سمك مشوي بالاعشاب وخبز</p>
                                <p class="mb-1">- سندويتش حبش مدخن مع الخضار</p>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                    <span>
                                        <span class="no"></span>
                                        <span class="yes"></span>
                                    </span>
                                    <span>
                                        <span class="yes"></span>
                                        <span class="no"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mt-5">
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-success" href=""><i class="fa-solid fa-file-pdf"></i> تحميل النظام الغذائي
                        </a>
                        <div class="select d-flex w-20 align-items-center">
                            <label for=""><strong style="white-space: pre;">حالة ميعاد متابعة </strong></label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">نعم</option>
                                <option value="2">لا</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <div class="head">
                        <h2>موعد المتابعة</h2>
                    </div>
                    <p class="mb-1">اليوم: يوم الاثنين 21/12/2021</p>
                    <p class="mb-1">الوقت: الساعة 4 م</p>
                    <a class="btn btn-warning mt-4" href=""> دفع قيمة المتابعة </a>
                </div>

            </div>


        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer about">
                        <div class="logo">
                            <img src="assets/images/Logo.png" alt="">
                        </div>
                        <ul class="social d-flex list-unstyled">
                            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-paper-plane"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>لا نقدم حيلًا سحرية لإنقاص الوزن
                            في ليلة واحدة</h2>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                            الشكل الخارجي للنص </p>
                        <ul class="links list-unstyled d-flex">
                            <li><a class="btn btn-outline-light" href="">لايف شات</a></li>
                            <li><a class="btn btn-success" href="">انضم الآن</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>روابط سريعة</h2>
                        <ul class="list-unstyled">
                            <li><a href="">المتجر</a></li>
                            <li><a href="">المطعم</a></li>
                            <li><a href="">الاستشارات</a></li>
                            <li><a href="">المقالات</a></li>
                            <li><a href="">الاشتراكات</a></li>
                            <li><a href="">نظام العمولة</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>اتصل بنا</h2>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-location-dot"></i> المملكة العربية السعودية - الرياض
                                شارع الرياض</li>
                            <li><i class="fa-solid fa-phone-flip"></i> 9660123456789</li>
                            <li><i class="fa-brands fa-whatsapp"></i> 9660123456789</li>
                            <li><i class="fa-solid fa-envelope"></i> info@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copy_right">
                <div class="d-md-flex align-items-md-center justify-content-md-between">
                    <p class="mb-0">جميع الحقوق محفوظة &copy; 2021</p>
                    <a href=""><img src="assets/images/topline.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>