<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Diet Fit</title>
</head>

<body>

    <header id="header">
        <div class="container">
            <div class="content">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo"><a href=""><img src="assets/images/Logo.png" alt=""></a></div>
                    <div class="links">
                        <ul class="d-flex list-unstyled align-items-center mb-0">
                            <li><a href="" class="user"><img src="assets/images/user.jpg" alt=""> <span
                                        class="d-none d-md-inline-block">محمود
                                        الدوسري</span></a></li>
                            <li><a href="" class="lang">English</a></li>
                            <li><a href="" id="toggle"><i class="fa-solid fa-bars"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="entry-content profile consulting_profile">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <header class="text-center">
                        <figure class="image"><img src="assets/images/user.jpg" alt=""></figure>
                        <h2 class="mb-1">محمود الدوسري</h2>
                        <p class="mb-2"><small>استشاري أمراض قلب</small></p>
                        <div class="stars mb-2">
                            <i class="fa-solid fa-star on"></i>
                            <i class="fa-solid fa-star on"></i>
                            <i class="fa-solid fa-star on"></i>
                            <i class="fa-solid fa-star on"></i>
                            <i class="fa-solid fa-star off"></i>
                            <small>(تقييم 4.7)</small>
                        </div>
                        <div class="information d-md-flex justify-content-center mb-4 mt-4">
                            <div class="mb-3 me-3">
                                <span><i class="fa-solid fa-phone-flip"></i></span> <span>966123456789</span>
                            </div>
                            <div class="mb-3">
                                <span><i class="fa-solid fa-envelope"></i></span> <span>info@gmail.com</span>
                            </div>
                        </div>
                        <a href="" class="btn btn-success d-inline-block">طلب استشارة</a>
                    </header>
                </div>
            </div>
            <div class="boxs">
                <div class="row justify-content-center">
                    <div class="col-md-2 w-20 col-6">
                        <div class="item text-center mb-4">
                            <a href="">
                                <figure><img src="assets/images/consu01.png" alt=""></figure>
                                <h3>عدد الاستشارات القادمة </h3>
                                <small>17</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 w-20 col-6">
                        <div class="item text-center mb-4">
                            <a href="">
                                <figure><img src="assets/images/consu02.png" alt=""></figure>
                                <h3>عدد الاستشارات اليوم</h3>
                                <small>25</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 w-20 col-6">
                        <div class="item text-center mb-4">
                            <a href="">
                                <figure><img src="assets/images/consu03.png" alt=""></figure>
                                <h3>عدد الاستشارات المكتملة</h3>
                                <small>60</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 w-20 col-6">
                        <div class="item text-center mb-4">
                            <a href="">
                                <figure><img src="assets/images/consu04.png" alt=""></figure>
                                <h3>عدد الاستشارات الملغاة</h3>
                                <small>45</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 w-20 col-6">
                        <div class="item text-center mb-4">
                            <a href="">
                                <figure><img src="assets/images/consu05.png" alt=""></figure>
                                <h3>مجمل أرباح الاستشاري من المنصة </h3>
                                <small>500.000 ر.س</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                    المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي
                    يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                    الشكل الخارجي هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز
                    على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي
                    أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في
                    الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                    التركيز على الشكل الخارجي</p>
                <p>
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                    المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي
                    يقرأها هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                    الشكل الخارجي </p>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer about">
                        <div class="logo">
                            <img src="assets/images/Logo.png" alt="">
                        </div>
                        <ul class="social d-flex list-unstyled">
                            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-paper-plane"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>لا نقدم حيلًا سحرية لإنقاص الوزن
                            في ليلة واحدة</h2>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                            الشكل الخارجي للنص </p>
                        <ul class="links list-unstyled d-flex">
                            <li><a class="btn btn-outline-light" href="">لايف شات</a></li>
                            <li><a class="btn btn-success" href="">انضم الآن</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>روابط سريعة</h2>
                        <ul class="list-unstyled">
                            <li><a href="">المتجر</a></li>
                            <li><a href="">المطعم</a></li>
                            <li><a href="">الاستشارات</a></li>
                            <li><a href="">المقالات</a></li>
                            <li><a href="">الاشتراكات</a></li>
                            <li><a href="">نظام العمولة</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>اتصل بنا</h2>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-location-dot"></i> المملكة العربية السعودية - الرياض
                                شارع الرياض</li>
                            <li><i class="fa-solid fa-phone-flip"></i> 9660123456789</li>
                            <li><i class="fa-brands fa-whatsapp"></i> 9660123456789</li>
                            <li><i class="fa-solid fa-envelope"></i> info@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copy_right">
                <div class="d-md-flex align-items-md-center justify-content-md-between">
                    <p class="mb-0">جميع الحقوق محفوظة &copy; 2021</p>
                    <a href=""><img src="assets/images/topline.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>