<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Diet Fit</title>
</head>

<body>

    <header id="header">
        <div class="container">
            <div class="content">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo"><a href=""><img src="assets/images/Logo.png" alt=""></a></div>
                    <div class="links">
                        <ul class="d-flex list-unstyled align-items-center mb-0">
                            <li><a href=""><i class="fa-solid fa-arrow-right-to-bracket d-none d-md-inline-block"></i>
                                    <span>تسجيل
                                        الدخول</span></a>
                            </li>
                            <li><a href=""><i class="fa-solid fa-user d-none d-md-inline-block"></i> <span>تسجيل
                                        جديد</span></a>
                            </li>
                            <li><a href="" class="lang">English</a></li>
                            <li><a href="" id="toggle"><i class="fa-solid fa-bars"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="entry-content forms-user">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form">
                        <h3 class="text-center">تسجيل دخول (استشاري)</h3>

                        <form action="">
                            <div class="mb-3">
                                <input type="text" name="" class="form-control" id="" placeholder="رقم الجوال">
                            </div>
                            <div class="mb-3 position-relative">
                                <input type="password" name="" id="password" class="form-control"
                                    placeholder="كلمة المرور">
                                <button id="show_pass"><i class="fa-solid fa-eye eye"></i></button>
                            </div>

                            <div class="d-flex align-items-center justify-content-end">
                                <input type="submit" value="دخول" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer about">
                        <div class="logo">
                            <img src="assets/images/Logo.png" alt="">
                        </div>
                        <ul class="social d-flex list-unstyled">
                            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-solid fa-paper-plane"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>لا نقدم حيلًا سحرية لإنقاص الوزن
                            في ليلة واحدة</h2>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                            الشكل الخارجي للنص </p>
                        <ul class="links list-unstyled d-flex">
                            <li><a class="btn btn-outline-light" href="">لايف شات</a></li>
                            <li><a class="btn btn-success" href="">انضم الآن</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>روابط سريعة</h2>
                        <ul class="list-unstyled">
                            <li><a href="">المتجر</a></li>
                            <li><a href="">المطعم</a></li>
                            <li><a href="">الاستشارات</a></li>
                            <li><a href="">المقالات</a></li>
                            <li><a href="">الاشتراكات</a></li>
                            <li><a href="">نظام العمولة</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="item-footer">
                        <h2>اتصل بنا</h2>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-location-dot"></i> المملكة العربية السعودية - الرياض
                                شارع الرياض</li>
                            <li><i class="fa-solid fa-phone-flip"></i> 9660123456789</li>
                            <li><i class="fa-brands fa-whatsapp"></i> 9660123456789</li>
                            <li><i class="fa-solid fa-envelope"></i> info@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copy_right">
                <div class="d-md-flex align-items-md-center justify-content-md-between">
                    <p class="mb-0">جميع الحقوق محفوظة &copy; 2021</p>
                    <a href=""><img src="assets/images/topline.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>